/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.layout_main{
    height: 100vh;
    width: 100%;
}

:root {
    --navy_blue: #01153e;
}

.bg_navy_blue {
    background-color: var(--navy_blue);
}

